/*=================Main Styles=============*/
@import url(http://fonts.googleapis.com/css?family=PT+Serif|Raleway:400,700);
*, *:before, *:after {
	box-sizing:border-box;
}
body {
	background: url(../content/exclusive_paper_@2X.png);
}
h2{
	color: #005ea4;
	font-family: "Raleway", sans-serif;
}
h3{
	color: #005ea4;
	font-family: "Raleway", sans-serif;
}
p{
	color: #333;
	line-height: 1.5;
	font-family: "PT Serif", Serif;
	font-size: 14pt;
}
a{
	color: #5e252c;
	font-family: Raleway, sans-serif;
}
a:hover{
	color: #be868d;

}
.hide {
	display: none;
}
/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
} 
.clearfix {
  *zoom: 1;
}
/*=========Header Styles============*/
header {
	width: 96%;
	margin-left: 2%;
	margin-right: 2% auto;
	position: relative;
}
.logoReplace a {
	display:block;
	margin:0 auto;
	height: 207px;
	width: 310px;
	background-size: contain;
	background-image: url(../content/mglogosmall.png);
	background-image: linear-gradient(transparent, transparent), url ("../content/mglogo.svg");
	text-indent: -9999px;
}
header h1{
	margin:0;
}
header p {
	display: inline-block;
	width: 49%;
	margin-top: -30px;
}
header p:nth-child(3){
	text-align: right;
}
.phoneNumber {
	font-size: 16pt;
	vertical-align: top;
}
.visuallyHidden {
	position: absolute;
	left: -9999px;
}
.mainNav ul {
	list-style: none;
	margin-left:0 auto;
	margin-right: 0 auto;
	margin-bottom: 30px;
	padding: 0;
}
a.button{
	display: block;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 2px 0 #333;
	background: #773d40; /* Old browsers */
background: -webkit-linear-gradient(#773d40 0%, #661d20 100%);
background: -o-linear-gradient(#773d40 0%, #661d20 100%);
background: linear-gradient(#773d40 0%, #661d20 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#773d40', endColorstr='#661d20',GradientType=0 );
	border-radius: 3px;
	text-align: center;
	margin-top: 2px;
	
}
#menuButton{
	height: 30px;
	border-radius: 0;
	text-align: center;
	line-height: 2;
	background: url(../content/menumain.png) no-repeat top right 5px, background: #773d40; /* Old browsers */
	background: url(../content/menumain.png) no-repeat top right 5px, -moz-linear-gradient(top, #773d40 0%, #661d20 100%); /* FF3.6+ */
	background: url(../content/menumain.png) no-repeat top right 5px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#773d40), color-stop(100%,#661d20)); /* Chrome,Safari4+ */
	background: url(../content/menumain.png) no-repeat top right 5px, -webkit-linear-gradient(top, #773d40 0%,#661d20 100%); /* Chrome10+,Safari5.1+ */
	background: url(../content/menumain.png) no-repeat top right 5px, -o-linear-gradient(top, #773d40 0%,#661d20 100%); /* Opera 11.10+ */
	background: url(../content/menumain.png) no-repeat top right 5px, -ms-linear-gradient(top, #773d40 0%,#661d20 100%); /* IE10+ */
    background: url(../content/menumain.png) no-repeat top right 5px, linear-gradient(to bottom, #773d40 0%,#661d20 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#773d40', endColorstr='#661d20',GradientType=0 );
	background-size: contain;
}
.button img {
	height:13px;
	width: 13px;
	margin-right: 4px;
}
.mainButton {
	width: 100%;
	height: 38px;
	line-height: 2.5;
}

.callButton{
	width: 100%;
	height: 38px;
	line-height: 2.5;
}
.smallButton {
	height: 38px;
	line-height: 2.5;
	width: 40%;
	position: absolute;
	right: 0;
}
.menuHide{
	display: none;
}
.contentHide {
	display:none;
}
/*==========Home & Main Styles============*/
main {
	width: 96%;
	margin-left: 2%;
	margin-right: 2% auto;
	background-color: rgba(225,225,225,.72);
}
div.valuesImage{
	position: relative;
	text-align: center;
	background-color: rgba(225,225,225,.72);
}
.valuesImage img{
	
	max-width: 100%;
}

.valuesImage p{
	position: absolute;
	max-height: 400px;
	bottom:3px;
	background-color: rgba(255,255,255, .62);
	font-size: .9em;
	margin:0 auto;
	padding:15px 30px 5px;
	
}
span.smallerText {
	font-size: .7em;
}
a.attribution {
	display: block;
	font-size: .3em;
	color: #fff;
	text-shadow:0 0 0;

}
a.attribution:hover {
	background: none;
}
.innerContent {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative;
}
nav h2 {
	margin-top: 40px;
}
.subNav li {
	margin-bottom: 15px;
	line-height: 1.5;
}
.subNav ul{
	margin-bottom: 40px;
}

section {
	position: relative;
	padding-bottom: 30px;
}
section p{
	padding-bottom: 40px;
}
.home .smallButton {
	
	bottom:30px;
}
.leftButton{
	left:0;
}

.homeAttorney img{
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 4%;

}
.homeAttorney div a{
	font-size: .7em;
}
.homeAttorney div h3{
	margin-top: 30px;
}
.homeAttorney h3{
	margin-top: -10px;
}



/*============================
		General Content Styles
==============================*/
div.pageImage {
	position: relative;
}
.pageImage img{
	max-width: 100%;
}
.pageImage p {
	background-color: rgba(255,255,255, .62);
	position: absolute;
	bottom: 10%;
	width: 100%;
	padding: 5px 3%;
	margin:0;
	text-align: right;
	font-size: 1.3em;
	text-shadow: 0 1px 0 #333;
}
div.buttonWrapper {
	margin-bottom: 59px;
}
.aboutUs .button {
	min-width: 144px;
}

/*=======Footer Styles==========*/
footer{
	background-color: #02487c;
	width: 100%;
	position: relative;
}
footer .innerContent {
	padding-top: 0;
	padding-bottom: 0;
}
footer p{
	color: #fff;
	font-size: .9em;
	display: inline-block;
	width: 47%;
	margin-right: 0;
	padding-right: 0;
}
footer p.copyright {
	text-align: right;
	position: absolute;
	margin-left: 0;
	font-size: .7em;
	top:40%;
	right: 0;
}
footer p.disclaimer{
	bottom: 0;
	text-align: right;
	position: absolute;
	margin-left: 0;
	right: 0;
}
footer a {
	color: #fff;
	font-size: .7em;

}


/*=================At 635=============*/
@media screen and (min-width: 635px) {


   /*=======General Styles 635===========*/
	div.wrapper {
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	header {
		width: 100%;
		margin: 0 auto;
	}
	main {
		width: 100%;
		margin: 0 auto;
	}


	/*==========Header Styles @ 635=============*/
	header p:nth-child(3) {
		position: absolute;
		top:89px;
		margin: 0;
		right:0;
	}
	header p:nth-child(2){
		position: absolute;
		top:91px;
		right:0;
		text-align: right;
	}
	.logoReplace a {
		position: relative;
		display: inline-block;
		height: 190px;
		top:0;
		left: 0;
		background-repeat: no-repeat;
	}

	a#menuButton {
		display: none;
	}
	ul.menuHide {
		display: block !important;
	}
	nav.mainNav{
		margin-top: -19px;
	}
	.mainNav li{
		float: left;
		width: 16.666%;
	}
	
	.mainNav ul {
		background-color: #5e252c;
		text-align: center;
		margin: 0;
		padding: 0;

	}
	.mainNav a {
		font-size: 13px;
		line-height: 3;
	}
	a.button:hover{
		background: #7b434a;

	}
	.aboutUs .mainButton {
		width:40%;
		margin-top: 21px;

	}
	/*==========Main Styles @ 635=============*/

	.callButton {
		width: 47%;
		display: inline-block;
		margin:0;
	}
	div.callButtons {
		position: relative;
	}
	div a.callButton:first-child{
		position: absolute;

	}
	div a.callButton:nth-child(2) {
		position: absolute;
		right: 0;
	}
	nav.subNav {
		padding-top: 30px;
		width: 48%;
		float: left;
	}
	.subNav ul {
		padding-left: 15px;
	}
	div.homeColumn {
		float: right;
		width: 48%;
		margin-top: 52px;
		padding-left: 1%;
	}
	div.valuesImage p {
		font-size: 1.3em;
		text-shadow: 0 1px 0 #333;
	}
	
}


/*=================At 950=============*/
@media screen and (min-width: 950px) {
	
	header p:nth-child(3) {
		top:100px;
	}
	header p:nth-child(2){
		top:101px;
	}
	div.valuesImage p{
		font-size: 27px;
		text-align: left;
		padding-bottom: 75px;
		padding-right: 15.5%;
		padding-left: 15.5%
	}
	div.valuesImage a{
		text-align: right;
		position: absolute;
		bottom:0;
	}
	nav.subNav {
		width: 27%;
		padding-top: 0px;
	}
	a.callButton {
		position: absolute;
		top:-65px;
	}
	div.callButtons {
		width: 73%;
		margin:0 auto;
	}
	div.homeColumn {
		width: 72%;
		padding-left: 4%;
		margin-top: 20px;
	}
	div.innerContent {
		padding-top: 0;
	}
	header p {
		font-size: 1em;
	}
	header p.phoneNumber {
		font-size: 1em;
	}
	.aboutHide {
		display: block !important;
	}
	#expandAbout {
		display: none;
	}
	.pageImage p {
		padding-right: 20%;
		font-size: 1.5em;
	}
}



/*===================Full Size 1040 ===============*/
@media screen and (min-width: 1040px){
	div.wrapper {
		max-width: 1000px;
		margin:  0 auto;
	}
}